<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkJI76OQl7XptM6ruaJm1vGQnzaC5ypWE</string>
	<key>GCM_SENDER_ID</key>
	<string>567482847285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restaurantApp</string>
	<key>PROJECT_ID</key>
	<string>restaurant-app-86fbc</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-app-86fbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567482847285:ios:73313809affab42652a17c</string>
</dict>
</plist>